body {
  background-color: #f6f6f6;  
}

html {
  font-size: 20px;
}

.comm-left{
  background-color: #FFF;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom:1px solid #eee;
}
.comm-box{
  background-color: #FFF;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border-bottom:1px solid #eee;
}
.comm-main{
  margin-top: .5rem;
}
.list-title{
  font-size:1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}
.list-context{
  color:#777;
  padding:.5rem;
}
.list-icon{
  padding:.5rem 0;
  color:#AAA;
}
.list-icon span{
  display: inline-block;
  padding: 0 10px;
}
pre{
  display: block;
  background-color: #283646 !important;
  padding: .5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: .3rem;
}

pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;
}
code {
  margin-top: 0;
  padding: 2px;
  height: 100%;
  background: #fff5f5;
  font-size: 0.75rem;
  color: #ff502c;
  text-shadow: none;
  border-radius: 2px;

}

.list-context img{
 width:100% ;
 border-radius:5px;
 border:1px solid #f0f0f0;
 max-width:1000px !important;
 display: block;
 margin:8px  auto ;

}

.aplayer-lrc-current {
  color: #1890ff !important;
}

.ant-fullcalendar-header {
  padding: 10px 0;
}