.bread-div{
  padding: .5rem;
  border-bottom: 1px solid #eee;
  background-color:#e1f0ff;
}
.detail-title{
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
}
.center{
  text-align: center;
}
.detail-content{
  padding: 1.3rem;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
  border-spacing: 2px;
  border-color: grey;
  font-size: 0.75rem;
}

tr {
  border-top: 1px solid #dfe2e5;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tr:nth-child(2n) {
  background-color: #f6f8fa;
}

th {
  
  font-weight: bold;
  text-align: -internal-center;
}

td,
th {
  display: table-cell;
  vertical-align: inherit;
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
pre{
  display: block;
  background-color:#f3f3f3;
  padding: .5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: .3rem;
}
pre{
  background-color: #283646 !important;
}
pre >code{
  border: 0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  margin-top: 0;
  padding: 2px;
  height: 100%;
  background: #fff5f5;
  font-size: 0.75rem;
  color: #ff502c;
  text-shadow: none;
  border-radius: 2px;
}

.title-anchor{
  color:#888 !important;
  padding: 4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: .7rem !important;
  border-bottom: 1px dashed #eee;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.active{
  color:rgb(30, 144, 255) !important;
}
.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);
}
.article-menu{
  font-size: 12px;
}
iframe{
  height: 34rem;
}
.detail-content  img{
  width: 100%;
  border: 1px solid #f3f3f3;
}
.title-level3{
  display: none !important;
}
.ant-anchor-link-title{
  font-size: 12px !important;
}
.ant-anchor-wrapper{
  padding: 5px !important;
}